@model TestingSystem.Models.LoginModel

@{
    ViewBag.Title = "Авторизация";
    Layout = null;
}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Roboto:400,300,500&subset=latin,cyrillic" rel="stylesheet" type="text/css">
@Styles.Render("~/Content/auth")

<div class="main-signin">
    <div class="main-signin__head">
        <p>АВТОРИЗАЦИЯ</p>
    </div>
    <div class="main-signin__middle">
        <div class="middle__form">
            @using (Html.BeginForm("Login", "Authorization", FormMethod.Post))
            {
                
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                
                @Html.TextBoxFor(a => a.Login, new {placeholder="Логин"})
                <span class="label label-danger" id="label_innError" style="display: none">Введите ИНН</span>
                @Html.ValidationMessageFor(x => x.Login)
                @Html.TextBoxFor(a => a.Password, new {placeholder="Пароль",type="password"})
                @Html.ValidationMessageFor(x => x.Password)
                <input type="submit" value="ВОЙТИ">
            }
        </div>
    </div>
</div>